* {
	font-family: monospace;
	-webkit-font-smoothing: antialiased;
	color: whitesmoke;
	box-sizing: border-box

}

#root {
	display: flex;
	height: 100vh;
	padding-bottom: 16px;
	box-sizing: border-box;
	width: 100vw;
	overflow: hidden;
}

body {
	margin: 0;

	background-color: rgb(40, 42, 54);

}

footer {
	height: 16px;
}

code {
	font-size: 12px;
}


/* width */
::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(72, 73, 80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(83, 83, 86);
}