* {
	font-family: monospace;
	-webkit-font-smoothing: antialiased;
}

#root {
	display: flex;
	height: 100vh;
	padding-bottom: 16px;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: whitesmoke;
}

footer {
	height: 16px;
}



