.processes-table-container {
	padding: 0 8px;
	position: relative;
	display: flex;
	flex-direction: column;

}

.processes-table-container table {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	width: 100%;
	background-color: rgb(40, 42, 54);


}

.processes-table-container tbody {
	height: 100%;
	overflow-y: scroll;
}

.process-table-button {
	background-color: rgb(33, 34, 44);
	color: whitesmoke;
	border-radius: 4px;
}

.process-table-button:hover {
	color: white;
	background-color: rgb(56, 57, 66);

}

.checkbox {
	width: 16px;
	height: 16px;

}

.dot {
	height: 12px;
	width: 12px;
	background-color: gray;
	border-radius: 50%;
	display: inline-block;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dot-errored {
	background-color: rgb(170, 0, 0);

}

.dot-stopped {

	background-color: tomato;
}

.dot-online {
	background-color: limegreen;
}

.status-col {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
}
